$primary: #6F7DFF;
$secondary:#EF3340;
$control: #43B748;
$gray1: #494F66;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;
$gray7: #F7F8FC;
$inputcolor: #C5CBE0;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}