.container {
  border-top: 1px solid #E4E8F7;
  height: auto;
  padding-left: 96px;
  padding-top: 48px;
  width: 70%;

  .form-data-back {
    display: flex;
    align-items: center;
    gap: 16px;

    .form-data-back-steep{
      border: 1px solid $secondary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;

      .icon {
        color: $secondary;
      }
    }

    p {
      color: $gray3;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.6px;
    }
  }
}