.home-container {
  position: relative;

  .home-content {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -100;

    @include small {
      flex-direction: column;
    }

    .home-content-hero {
      width: 40%;

      @include small {
        width: 100%;
      }
    }

    .home-content-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 112px;
      width: 60%;

      @include small {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 54px;
      }

      .home-content-form-title {
        width: 288px;

        h1 {
          color: $gray1;
          font-family: Lato;
          font-size: 28px;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: -0.2px;

          @include small {
            font-size: 24px;
          }
        }

        @include small {
          padding-bottom: 24px;
        }
      }

      .home-form{
        display: flex;
        flex-direction: column;
        gap: 16px;    
        width: 288px;
        height: auto;

        .home-form-select{
          display: flex;

          .home-form-select-list {
            border: 1px solid $inputcolor;
            border-radius: 4px 0px 0px 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56px;
            position: relative;
            width: 96px;

            .list {
              background:white;
              border: 1px solid $inputcolor;
              position: absolute;
              bottom: -75px;
              left: 0px;
            }

            p {
              color: $gray1;
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.2px;
            }
          }
        }

        .home-form-input {
          border: 1px solid $inputcolor;
          border-radius: 4px;
          color: $gray1;
          font-family: 'Lato';
          font-size: 16px;
          height: 56px;
          line-height: 24px;
          padding: 16px;
          width: 100%;
        }

        .home-form-checkbox {
          color: $gray2;
          display: flex;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 12px;
          line-height: 20px;
          gap: 18px;
          width: 100%;

          input {
            background-color: $control;
          }
        }

        .home-form-btn-submit {
          background: $secondary;
          border:  none;
          border-radius: 8px;
          color: #fff;
          font-family: 'Lato';
          font-weight: 700;
          font-size: 14px;
          height: 56px;
          line-height: 16px;
          width: 192px;

          @include small {
            width: 100%;
          }
        }
      }
    }
  }
}