.thanks-container {
  display: flex;

  @include small {
    flex-direction: column;
  }

  .thanks-hero {
    height: 100vh;
    background: $gray7;
    border-top: 1px solid $gray5;
    position: relative;
    width: 40%;

    @include small {
      height: 208px;
      width: 100%;
    }

    .thanks-hero-imglarge {
      height: 448px;
      position: absolute;
      top: 10%;
      right: -15%;
      width: 416px;

      @include small {
        display: none;
      }
    }

    .thanks-hero-imgsmall{
      display: none;

      @include small {
        height: 100%;
        width: 100%;
        display: flex;
      }
    }
  }

  .thanks-message {
    border-top: 1px solid $gray5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    width: 60%;

    @include small {
      padding-top: 48px;
      width: 100%;
    }

    .thanks-message-content {
      width: 480px;

      @include small {
        width: 296px;
      }

      .message-content-title {
        font-family: Lato;
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -0.2px;

        @include small {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.6px;
        }
      }

      .message-content-description {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        padding-top: 16px;
      }

      .message-content-email {
        color: $gray2;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
      }

      .btn-thanks {
        background: $secondary;
        border: none;
        border-radius: 8px;
        color: white;
        height: 56px;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        margin-top: 40px;
        width: 255px;

        @include small {
          height: 100%;
          padding: 20px 32px;
          width: 100%;
        }
      }
    }
  }
}